h1{
    color: green;
}
button{

color: white;
background-color: blue;
}
nav ul li{
   color: white;
    display: block;
    background-color: rgb(58, 128, 0);
    width: 800px;
    height: 60px;
padding: 1px;
margin: 0px;
}